<style>
    td, th {
    padding: 0 40px;
  }
  
  .headcol {
    position: absolute;
    width: 5em;
    left: 0;
    top: auto;
    border-top-width: 1px;
    /*only relevant for first row*/
    margin-top: -1px;
    /*compensate for top border*/
  }
  </style>
  
  <head><script src="fixedColumnTable.directive.js"></script></head>
  
  <div [hidden]="allElements.length !== 0">
      <p>Trenutno nema učitanih elemenata</p>
  </div>
  
  <div style="overflow-x: scroll;" [hidden]="allElements.length === 0">
      <table style="border: 1px blue" class="table table-hover" fixed-column-table fixed-columns="3">
          <thead>
              <tr style="background-color: lightslategray;">
                  <th scope="col" style="position:sticky; left: 0; background-color: lightslategray;">Id</th>
                  <th scope="col">Tip</th>
                  <th scope="col">Naziv</th>
                  <th scope="col">Adresa</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let element of allElements | paginate: config">
                  <td style="position:sticky; left: 0; background-color: lightblue;">{{element.id}}</td>
                  <td>{{element.tip}}</td>
                  <td>{{element.naziv}}</td>
                  <td>{{element.adresa}}</td>
                  
                  <td>
                      <button (click) = "izmena(element)" class="btn btn-success" data-toggle="modal" data-target="#izmena">Izmena</button>
                  </td>

                  <td>
                    <button class="btn btn-success">Brisanje</button>
                </td>
              </tr>
          </tbody>
      </table>
      
  </div>
  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
  <div><button (click) = "noviElement()"  class="btn btn-success">Novi element</button></div>
  <div><button (click) = "sortiranje()"  class="btn btn-success">Sortiraj</button></div>

  <div class="modal fade" id="izmena" tabindex="-1" role="dialog" aria-labelledby="izmena" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="login">Izmena elementa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table>
    
                    <tr>
                        <td>Naziv: </td>
                        <td><input type="text" [(ngModel)] = "elementToChange.naziv" #naziv/></td>
                    </tr>
                    <tr>
                        <td>Tip: </td>
                        <td>
                        <select type="text" [(ngModel)] = "elementToChange.tip" #tip>
                                
                            <option value = "Transformator">Transformator</option>
                            <option value = "Prekidac">Prekidač</option>
                            <option value = "Osigurac">Osigurač</option>
                            <option value = "Diskonektor">Diskonektor</option>
                        
                        </select>
                        </td>
                    </tr>
                    <tr>
                        <td>Adresa: </td>
                        <td><input type="text" [(ngModel)] = "elementToChange.adresa" #adresa/></td>
                    </tr>
                    <tr>
                        <td>&nbsp;</td>
                        <td><input type="button" value = "Izmeni" (click) = "IzmeniElement()"/></td>
                    </tr>
                    </table>
                    
                
            </div>
        </div>
    </div>
  </div>