<style>
    .grid-container {
    display: grid;
    grid-template-columns: 120px;
    grid-template-rows: 70px, 70px, 70px, 70px, 70px, 70px;
}


</style>

<div class="grid-container">
    <button style="border:0px; background-color: lightgreen;" (click)="loadBasic()">Osnovne informacije</button>
    <button style="border:0px; background-color: lightgreen;">Oprema</button>
    <button style="border:0px; background-color: lightgreen;">Rešenje</button>
    <button style="border:0px; background-color: lightgreen;">Pozivi</button>
    <button style="border:0px; background-color: lightgreen;">Ekipa</button>
    <button style="border:0px; background-color: lightgreen;">Foto</button>
</div>
