<h2>POZIVI</h2>
<table>
    <tr>
        <td>Razlog: </td>
        <td><input type="text"  #id/></td>   
        <td>Komentar: </td>
        <td><input type="text"  #name/></td>
    </tr>
    <tr>
        <td>Opasnost: </td>
        <td><input type="text"  #id/></td>   
        
    </tr>
    <input type="button" class="btn btn-success" value = "Back" routerLink = "/app/new-incident-media"/>
    <input type="button" class="btn btn-success" value = "Next" routerLink = "/app/new-incident-oprema"/> 
</table>
